<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="1"
      android:versionName="1.0" package="br.nom.camargo.wanderson.presenter">


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="PresenterApplication">
        <activity android:name="DeviceListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>


    </application>
</manifest>